* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.email-send-container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.email-send {
  display: -ms-grid;
  display: grid;
  width: 360px;
  place-items: center;
}

.email-send__logo-container {
  width: 150px;
  margin-bottom: 50px;
}

.email-send__logo-container-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.email-send-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  place-items: center;
  text-align: center;
}

.email-send__image-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  margin-bottom: 30px;
}

.email-send__image-message-container-img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-primary {
  font-size: 1.8rem;
  color: #000000;
}

.title-primary--new-password {
  margin-bottom: 12px;
}

.title-primary--account {
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 5%;
  margin-bottom: 50px;
}

.title-primary--account-edit {
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 5%;
  margin-bottom: 50px;
}

.subtitle-primary {
  font-size: 1.6rem;
  font-weight: 300;
  color: #232830;
}

.subtitle-primary--new-password {
  margin: 0;
  margin-bottom: 30px;
}

.subtitle-primary--email-send {
  margin-bottom: 30px;
}

.span-primary {
  font-size: 1.4rem;
  font-weight: normal;
  color: #232830;
}

.span-primary--email-send {
  margin-bottom: 30px;
}

.link-primary {
  font-size: 1.4rem;
  font-weight: normal;
  color: #acd9b2;
  cursor: pointer;
}

.link-primary:hover {
  text-decoration: underline;
  font-weight: bold;
}

.span-secondary {
  font-size: 1.4rem;
  font-weight: normal;
  color: #acd9b2;
  cursor: pointer;
}

.span--secondary--login {
  text-align: center;
}

.span--secondary--login:hover {
  text-decoration: underline;
  font-weight: bold;
}

.form__text-primary {
  font-size: 1.6rem;
  font-weight: normal;
  color: #c7c7c7;
}

.text--account-edit {
  margin-bottom: 34px;
}

.button-primary {
  width: 100%;
  padding: 17px;
  border-radius: 10px;
  background-color: #acd9b2;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.button-primary:hover {
  text-decoration: none;
  color: #ffffff;
}

.button-secondary {
  width: 100%;
  padding: 17px;
  border: 2px solid #acd9b2;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  color: #acd9b2;
  cursor: pointer;
  text-align: center;
}

.button-secondary:hover {
  text-decoration: none;
  color: #acd9b2;
}

.button-primary--login {
  margin-top: 12px;
  margin-bottom: 30px;
}

.button--account {
  margin-top: 12px;
  margin-bottom: 30px;
  width: 90%;
}

.button--new-password {
  margin-top: 12px;
  margin-bottom: 30px;
}

.button--email-send {
  margin-bottom: 20px;
}

.button-secondary--login {
  margin-top: 80px;
  margin-bottom: 10px;
}

.button--account-edit {
  margin-top: 12px;
  margin-bottom: 30px;
  width: 90%;
}