* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.login {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  width: 360px;
  justify-items: center;
}

.login__logo-container {
  width: 150px;
  margin-bottom: 50px;
}
.login__logo-container .login__logo-container-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.title-primary {
  font-size: 1.8rem;
  color: #000000;
}

.title-primary--new-password {
  margin-bottom: 12px;
}

.title-primary--account {
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 5%;
  margin-bottom: 50px;
}

.subtitle-primary {
  font-size: 1.6rem;
  font-weight: 300;
  color: #232830;
}

.subtitle-primary--new-password {
  margin: 0;
  margin-bottom: 30px;
}

.subtitle-primary--email-send {
  margin-bottom: 30px;
}

.span-primary {
  font-size: 1.4rem;
  font-weight: normal;
  color: #232830;
}

.span-primary--email-send {
  margin-bottom: 30px;
}

.link-primary {
  font-size: 1.4rem;
  font-weight: normal;
  color: #acd9b2;
  cursor: pointer;
}

.link-primary:hover {
  text-decoration: underline;
  font-weight: bold;
}

.span-secondary {
  font-size: 1.4rem;
  font-weight: normal;
  color: #acd9b2;
  cursor: pointer;
}

.span--secondary--login {
  text-align: center;
}

.span--secondary--login:hover {
  text-decoration: underline;
  font-weight: bold;
}

.form__label-input-primary {
  font-size: 1.4rem;
  font-weight: 700;
}

.form__label-input-primary--new-password {
  margin-bottom: 4px;
}

.form__label-input-primary--login {
  margin-bottom: 4px;
}

.form__label-input-primary--account {
  margin-bottom: 4px;
}

.form__input-primary {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 6px;
}

.input--new-password {
  margin-bottom: 14px;
}

.input--login {
  margin-bottom: 14px;
}

.input--account {
  margin-bottom: 14px;
}

.button-primary {
  width: 100%;
  padding: 17px;
  border-radius: 10px;
  background-color: #acd9b2;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.button-primary:hover {
  text-decoration: none;
  color: #ffffff;
}

.button-secondary {
  width: 100%;
  padding: 17px;
  border: 2px solid #acd9b2;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  color: #acd9b2;
  cursor: pointer;
  text-align: center;
}

.button-secondary:hover {
  text-decoration: none;
  color: #acd9b2;
}

.button-primary--login {
  margin-top: 12px;
  margin-bottom: 30px;
}

.button--account {
  margin-top: 12px;
  margin-bottom: 30px;
}

.button--new-password {
  margin-top: 12px;
  margin-bottom: 30px;
}

.button--email-send {
  margin-bottom: 20px;
}

.button-secondary--login {
  margin-top: 80px;
  margin-bottom: 10px;
}