* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.new-password-container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.new-password {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  width: 360px;
  justify-items: center;
}

.new-password__logo-container {
  width: 150px;
  margin-bottom: 50px;
}
.new-password__logo-container .new-password__logo-container-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-password__title {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 12px;
}

.new-password__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
  color: #c7c7c7;
  margin: 0;
  margin-bottom: 30px;
}

.new-password-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.form__label-input-new-password {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 6px;
  margin-bottom: 14px;
}

.primary-button {
  width: 100%;
  padding: 17px;
  border-radius: 10px;
  background-color: #acd9b2;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.primary-button:hover {
  text-decoration: none;
  color: #ffffff;
}

.button-new-password {
  margin-top: 12px;
  margin-bottom: 30px;
}