.login__logo-container{
    display: none;
}

.login-form {
    position: static;
    height: auto;
}

.button-secondary--login{
    position: static;
    bottom: none;
    margin-top: 40px;
    margin-bottom: 30px;
}